<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.apreta.blowfish"
        version="0.1.0">

  <name>Blowfish</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/blowfish.js" target="js/blowfish.js"/>

  <js-module src="www/blowfish.js" name="blowfish">
    <clobbers target="blowfish" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Blowfish">
        <param name="android-package" value="com.apreta.plugin.Blowfish"/>
      </feature>
    </config-file>

    <source-file src="src/android/Blowfish.java" target-dir="src/com/apreta/plugin/"/>
    <source-file src="src/android/BlowfishECB.java" target-dir="src/com/apreta/plugin/"/>
    <source-file src="src/android/BinConverter.java" target-dir="src/com/apreta/plugin/"/>
  </platform>

  <platform name="ios">
  
    <config-file target="config.xml" parent="/widget">
      <feature name="Blowfish">
        <param name="ios-package" value="PBlowfish" />
      </feature>
    </config-file>

    <header-file src="src/ios/PBlowfish.h" target-dir="BlowfishPlugin"/>
    <source-file src="src/ios/PBlowfish.mm" target-dir="BlowfishPlugin"/>
    <header-file src="src/ios/blowfish.h" target-dir="BlowfishPlugin"/>
    <header-file src="src/ios/blowfish.h2" target-dir="BlowfishPlugin"/>
    <source-file src="src/ios/blowfish.cpp" target-dir="BlowfishPlugin"/>
  </platform>

  <platform name="wp7">
    <source-file src="src/wp7/Blowfish.cs"/>
  </platform>

</plugin>
